﻿<html>
<head> 
	<meta charset="utf-8">
	<title>конференция</title>
	<style type="text/css">
		body{
		background-color: #ADD8E6;
		margin: 0px;
		padding: 0px;
		} 
		p {
		color: #; /* Цвет текста */
		font-size: 18pt ;
		}
		#menu li {
		background: #EE82EE;  
		margin-right: 3px;
		font-size: 30pt;
		list-style-type: none;
		}
		#menu{
		height: 100px;
		width:20px;
		opacity: 0.7;
		filter: alpha(Opacity=70);

		}
		a{
		color: black;
		text-decoration: none;
		font-size: 16pt ;
		}
		h1{
		background-color: #43CD80;
		opacity: 0.7;
		filter: alpha(Opacity=70); 
		}
		div.content{
    width: 1000px;
    text-align: center;
    max-width: 90%; /* контейнер не превышает 90% ширины экрана */
    min-width: 500px;
     margin: 0 auto;
     background-color: #7FFFD4;
     
      
    }
    #podval {
		background: #43CD80;  
		border-radius:20px; 
		-webkit-border-radius:6px; 
		-moz-border-radius:5px;
		opacity: 0.7;
		filter: alpha(Opacity=70); 
		}
	table{
		font-size: 20pt;
		}
</style>
</head> 
<body>
<div id="logo">
<h2>
<img src="logo2_03.gif"  style=" height: 100px ; weight: 300px" >
</h2>
</div>
<div id="menu">
<ul  style="margin-top: -70px;">
<li>
<a href="index.html">Главная </a> 
</li>
<li>
<a href="speakers.html"> Спикеры </a>
</li>
<li>
<a href="org.html" > Организаторы</a>
</li>
<li>
<a href="par.html" > Партнеры</a>
</li>
<li>
<a href="cont.html" > Контакты</a>
</li>
<li>
<a href="news.html" > Новости</a>
</li>
<li>
<a href="tema.html" > Выступления</a>
</li>
</ul>
</div>
<div class="content">
<div class="zag">
	<h1 align="center"> Новости</h1>
<div class="speaker">
<table>
{% for news in news_list %}
<tr>
<td rowspan="2"><img src=''></td>
<td><a href="1.html"> news.news_name</a></td>
</tr>
<tr>
<td>news.text</td>
</tr>
<tr>

{%endfor%}

</table>
</div>
 </div>
 </div>
 <div id="podval">
 <p align="center"> 2015-2016 </p>
</div>
</body> 
</html>