﻿{% extends "base.html" %}
{% block content %}
{% for contacts in contacts_list %}
<tr>
<td><a href="1.html"> {{ contacts.contact_name }}</a></td>
</tr>
<tr>
<td>{{ contacts.contact_ph }}</td>
</tr>


{% endfor %}
{% endblock %}