{% for name in name %}
    {# Each "contact" is a Contact model object. #}
    {{ name.Name_fio|upper }}<br />
    ...
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if name.has_previous %}
            <a href="?page={{ name.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ name.number }} of {{ name.paginator.num_pages }}.
        </span>

        {% if name.has_next %}
            <a href="?page={{ name.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>