﻿{% extends "base.html" %}
{% block content %}
{% for speakers in speakers_list %}
<a href = "{{ speakers.get_absolute_url }}"> {{ speakers.Name_fio }}</a><a href = '/speakers/{{speakers.id}}/delete_new/'> Delete </a></br>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if speakers_list.has_previous %}
            <a href="?page={{ speakers_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ speakers_list.number }} of {{ speakers_list.paginator.num_pages }}.
        </span>

        {% if speakers_list.has_next %}
            <a href="?page={{ speakers_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
<form action = '.' method = 'POST'>
{% csrf_token %}
{{ form.as_p }}
<input type="submit" alt="ОК">
</form>
{% endblock %}

% url 'speakers' speakers.id %
<a href = '/speakers/delete_new/'> Delete </a><br/>