﻿{% extends "base.html" %}
{% block content %}
{% for contacts in contacts_list %}
<tr>
<td> {{ partners.par_name }}</a></td>
</tr>
<tr>
<td>{{ partners.par_ph }}</td>
</tr>


{% endfor %}
{% endblock %}