﻿<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
<meta charset="utf-8">
 <link rel="stylesheet" href="/static/style.css" />
 <title>
{% block title %}
conferencion
{% endblock %}</title>
</head>
<body>
<div id="logo">
 {% block logo %}
<h2>
<img src="{% static 'ind.jpg' %}"  style="width: 1000px;%" class = "img">
</h2>
 {% endblock %}
</div>
<div id="menu">
{% block menu %}
<ul  style="margin-top: -70px;">
<li>
<a href="/index/">Главная </a> 
</li>
<li>
<a href="{% url 'speakers_all' %}"> Спикеры </a>
</li>
<li>
<a href="{% url 'org_all' %}" > Организаторы</a>
</li>
<li>
<a href="{% url 'partners_all' %}" > Партнеры</a>
</li>
<li>
<a href="{% url 'contacts_all' %}" > Контакты</a>
</li>
<li>
<a href="{% url 'news_all' %}" > Новости</a>
</li>
<li>
<a href="{% url 'vist_all' %}" > Выступления</a>
</li>
</ul>
{% endblock %}
</div>
<div class="content">
{% block content %}
<div class="zag">
 {% block zag %}
	<h1 align="center"> Новости</h1>
<div class="speaker">
<table>
 {% block speaker %}

 {% endblock %}
 </table>
 </div>
{% endblock %}
 </div>

{% endblock %}
It is the {% now "jS o\f F" %}
</div>
<div id="podval">
 {% block podval %}
 <p align="center"> 2015-2016 </p>
{% endblock %}
</div>
</body>
</html>