body{
		background-color: #ADD8E6;
		margin: 0px;
		padding: 0px;
		} 
		p {
		color: #; /* Цвет текста */
		font-size: 18pt ;
		}
		#menu li {
		background: #EE82EE;  
		margin-right: 3px;
		font-size: 30pt;
		list-style-type: none;
		}
		#menu{
		height: 100px;
		width:20px;
		opacity: 0.7;
		filter: alpha(Opacity=70);

		}
		a{
		color: black;
		text-decoration: none;
		font-size: 16pt ;
		}
		h1{
		background-color: #43CD80;
		opacity: 0.7;
		filter: alpha(Opacity=70); 
		}
		div.content{
    width: 1000px;
    text-align: center;
    max-width: 90%; /* контейнер не превышает 90% ширины экрана */
    min-width: 500px;
     margin: 0 auto;
     background-color: #7FFFD4;
     
      
    }
    #podval {
		background: #43CD80;  
		border-radius:20px; 
		-webkit-border-radius:6px; 
		-moz-border-radius:5px;
		opacity: 0.7;
		filter: alpha(Opacity=70);
position: fixed;
    left: 0; bottom: 0; 
    padding: 10px;
 width: 100%;
height : 10px; 
		}
	table{
		font-size: 20pt;
		}
    h2 {
    text-align: center; /* Выравнивание по центру */ 
   }