﻿{% extends "base.html" %}
{% block content %}
{% for contacts in contacts_list %}
<tr>
<td><a href="1.html"> {{ org.org_name }}</a></td>
</tr>
<tr>
<td>{{ contacts.org_ph }}</td>
</tr>


{% endfor %}
{% endblock %}